@charset "UTF-8";

body{
    background: #025e73d0;
    font: normal 15pt arial;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

header{
    color: white;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.753);
}

footer{
    color: white;
}